.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    text-align: center;
    font-family: cursive;
    font-size: 18pt;
}

.flex-item a {
    text-decoration: none;
}

@media(max-width:800px) {
    .flex-container {
        flex-direction: column;
    }
}